.container{padding:0px!important; border-radius: 0px!important; background: transparent!important; border: 0px!important; box-shadow: none!important;}
.padding-0{padding: 0px;}
.padding-5{padding: 5px;}
.padding-10{padding: 10px;}
.padding-top-0{padding-top: 0px;}
.padding-top-5{padding-top: 5px;}
.padding-top-10{padding-top: 10px;}
.padding-left-0{padding-left: 0px;}
.padding-left-5{padding-left: 5px;}
.padding-left-10{padding-left: 10px;}
.padding-right-0{padding-right: 10px;}
.padding-right-5{padding-right: 5px;}
.padding-right-10{padding-right: 10px;}
.padding-bottom-0{padding-bottom: 0px;}
.padding-bottom-5{padding-bottom: 5px;}
.padding-bottom-10{padding-bottom: 10px;}

.margin-0{margin: 0px;}
.margin-5{margin: 5px;}
.margin-10{margin: 10px;}
.margin-top-0{margin-top: 0px;}
.margin-top-5{margin-top: 5px;}
.margin-top-10{margin-top: 10px;}
.margin-left-0{margin-left: 0px;}
.margin-left-5{margin-left: 5px;}
.margin-left-10{margin-left: 10px;}
.margin-right-0{margin-right: 10px;}
.margin-right-5{margin-right: 5px;}
.margin-right-10{margin-right: 10px;}
.margin-bottom-0{margin-bottom: 0px;}
.margin-bottom-5{margin-bottom: 5px;}
.margin-bottom-10{margin-bottom: 10px;}

.padding-lf-0{padding-left: 0px; padding-right: 0px;}
.padding-lf-5{padding-left: 5px; padding-right: 5px;}
.padding-lf-10{padding-left: 0px; padding-right: 10px;}
.margin-lf-0{margin-left: 0px; margin-right: 0px;}
.margin-lf-5{margin-left: 5px; margin-right: 5px;}
.margin-lf-10{margin-left: 0px; margin-right: 10px;}

.padding-tb-0{padding-top: 0px; padding-bottom: 0px;}
.padding-tb-5{padding-top: 5px; padding-bottom: 5px;}
.padding-tb-10{padding-top: 10px; padding-bottom: 10px;}
.margin-tb-0{margin-top: 0px; margin-bottom: 0px;}
.margin-tb-5{margin-top: 5px; margin-bottom: 5px;}
.margin-tb-10{margin-top: 10px; margin-bottom: 10px;}
header .header-top{
	background-image: url('../images/bg-header-top.png');
}
header .header-bottom{
	background-image: url('../images/bg-header-bottom.png');
}

.wrapper-body,.body-left,.body-right,.box-right-1,.box-right-2,.box-right-3,.box-right-4,.box-right-5{
	background-repeat: no-repeat;
	background-position:center;
}
.container-body{margin-top: 60px;}
.wrapper-body{height: 600px; background-image: url('../images/bg-body.png'); background-size:100%;}
.body-left{	background-image: url('../images/bg-box-left.png');background-size:contain;}
.body-right{ background-image: url('../images/menu-right-col.png'); background-size:contain;}
/*li*/
.box-right-1{ background-image: url('../images/menu-right-1.png'); background-size:contain;}
.box-right-2{ background-image: url('../images/menu-right-2.png'); background-size:contain;}
.box-right-3{ background-image: url('../images/menu-right-3.png'); background-size:contain;}
.box-right-4{ background-image: url('../images/menu-right-2.png'); background-size:contain;}
.box-right-5{ background-image: url('../images/menu-right-1.png'); background-size:contain;}
.body-right{height: 500px;}
.body-right ul{padding-top: 20px;}
.body-right ul li{list-style: none; color: #fff;}
.body-right ul li .row{text-align: center; height: 92px;}
.body-right ul li .row .item-wrapper{padding:22px 37px 0px 0px; margin-left: 48px;}
.body-right ul li.box-right-2{margin-top: -18px;}
.body-right ul li.box-right-3{margin-top: -10px;}
.body-right ul li.box-right-4{margin-top: -8px;}
.body-right ul li.box-right-5{margin-top: -13px;}
/*----------------------*/
.body-box-bottom{background-color: #f7f7f7;}
.body-box-bottom .body-box-bottom-note{padding: 30px 10px 30px 10px ;color: #aaa; font-size: 1.2em;}
.body-box-bottom .body-box-bottom-item{margin-bottom: 20px;}
.body-box-bottom .body-box-bottom-item .item-img{margin-bottom: -50px;}
.body-box-bottom .body-box-bottom-item .item-text{background-color: #fff; border: 1px solid #ddd; padding: 45px 20px 5px 20px;}
.body-box-bottom .body-box-bottom-item .item-text h2{color: #005793;font-weight: bold; font-size: 2em;}
.body-box-bottom .body-box-bottom-item .item-text p{text-align: justify; color: #999; font-size: 1.1em;}

/*----------------------*/
footer.footer{ background-color: #0171bc; padding: 20px 0px;}
.body-left .span5{color: #fff; margin-top: 180px; margin-left: 130px;}
.body-left .span4{margin-left: 185px; margin-top: -10px; color: #fff;}

.nav-pills > li{padding: 0px 10px;}

.nav-pills > li > a, .nav-pills > li.current.active  > a{
	color: #fff;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
}
.nav-pills > li > a{border-bottom: 2px solid transparent;}
.nav-pills > li.current.active  > a,.nav-pills > li.current.active  > a:hover, .nav-pills > li > a:hover{
	background: transparent;
	border-bottom: 2px solid #ffcb08;
	border-radius: 0px;
}
/*.menu-footer-left > ul{clear: both;}*/
.menu-footer-left div ul.nav.menu{margin-bottom: 5px;}
.menu-footer-left div ul.nav.menu li{
	display: inline-block!important;
	padding-left: 10px;padding-right: 10px;
	border-right: 2px solid #fdc04c;

}
.menu-footer-left div ul.nav.menu li:first-child{padding-left: 0px;}
.menu-footer-left div ul.nav.menu li:last-child{border-right: 0px;}
.menu-footer-left div ul.nav.menu li a {color: #ffcb08!important;}
.menu-footer-left div ul.nav.menu li:hover a{
	background-color: transparent;
	color: #fff!important;
}
.menu-main{
	border: 0px;
	background: transparent!important;
	border-radius: 0px;
}
.navbar-inner.menu-main{
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
}
ul#top-menu > li{padding: 0px 5px;}
ul#top-menu > li > a{
	text-shadow: none;
	color: #fff;
}
ul#top-menu > li.current.active > a,ul#top-menu > li > a:hover{
	color: #ffcb08;
	background: transparent;
	box-shadow: none;
	border-bottom: 2px solid #ffcb08;
}
/*.header-top-logo{position: relative; margin-top: -84px!important; bottom: 0;}*/
img.header-top-logo{position: absolute; top: 0;  top: 4px;}
.header-right{position: relative; z-index: 10;}
.logo-top-center1{margin-bottom: -30px; margin-left: -10px; z-index: 10;}
.logo-top-center2{margin-left: -35px;}
.title-content>h1{color: #0564a5; font-size: 3em; position: absolute; bottom: 30px;}
.title-content-wrapper{position: relative;}