@media (max-width: 768px){
	.body-right ul li .row .item-wrapper{ margin-left: 20px!important;padding-right: 10px; font-size: 0.9em;}
	.body-right ul li .row .item-wrapper h2{ font-size: 18px;}
	.body-left .custom .span5{margin-left: 110px;}
	.body-left .custom .span4.text-center{margin-left: 145px!important; margin-top: -25px!important;}
	.body-left .custom h2{font-size: 1.8em;}
	.body-left .custom p{font-size: 0.9em!important;}
	.span10.margin-left-0.header-right{margin-left:155px!important;}
	img.header-top-logo{top: 2px!important; width: 134px }
	.logo-top-center1{width: 290px;}
	.logo-top-center2{width: 270px;}
}
@media (max-width: 640px){
	img.header-top-logo{top: 3px!important; width: 120px; margin-left: 10px; }
	.header-left{margin-top:-28px!important;}
	.logo-top-center1{width: 230px;}
	.logo-top-center2{width: 220px;}
	.wrapper-body{height: 1100px; background: none;}
	.container-body{margin-top: 0px; background: #fff!important;}
	.body-left .span5{margin-top: 60px; position: absolute; top: 250px; width: 355px;}
	.body-left .body-left-down{position: absolute; top: 476px; width: 620px; margin-left: 5px;}
	.menu-footer-left{margin-left: 50px;}
	.menu-footer-right{ padding-right: 10px}
	.content-wrapper-page{margin-bottom: 45px;}
	.content-wrapper-page .title-content>h1{bottom: -50px!important;}

}

@media (max-width: 480px){
	.logo-top-center1{width: 290px; margin-bottom: -78px; margin-left: -39px;}
	.header-left{height: 60px;}
	.body-left .span5{margin-left:55px; margin-top: 60px; position: absolute; top: 214px; width: 320px;}
	.logo-top-center2{display: none;}
	img.header-top-logo{top: 3px!important; width: 85px; margin-left: 10px; }
	.logo-top-center1{ width: 230px; margin-left: -45px; }
	.body-left .body-left-down{top: 420px; margin-left: -75px;}
	.wrapper-body{height: 1030px;}
	.content-wrapper-page .span8.title-content>h1{font-size:2.5em!important; bottom: -55px!important;}

}
@media (max-width: 320px){
	.logo-top-center1{width: 215px;}
	.content-wrapper-page{margin-bottom: 55px;}
	.content-wrapper-page .span8.title-content>h1{font-size:2.5em!important; bottom: -55px!important;}
	.logo-top-center1{width: 205px;margin-left: -45px;}

}